<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Forte Graph</title>
    <meta name="description" content="A strengths graph by Laura Klein and Eric Prestemon">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/43384c39ae.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/graph.css" type="text/css" />
  </head>
  <body>
    
<div class="container">
   	<div class="left_col">
        <canvas id="graph_canvas" width="600" height="600">
      </canvas>
    </div>
    <div class="center_col">
      <h3 id="title"><span id="title_text">What's Your Fort&eacute;?</span> <i class="edit_title fa fa-pencil"></i></h3>
      <div id="all_sliders">
       
        
   
      </div>
    <input type="button" class="button" id="new_strength" value="Add New" /> 
    <input type="button" class="button" id="rotate" value="Rotate Skills" /> 
    <input type="button" class="button" id="snapshot" value="Snapshot Image" /> 

    </div>
    <div class="right_col">
      <div id="static_copy">
      </div>
  
  </div>
</div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
    <script src="/jcanvas.min.js"></script>
    <script src="/graph.js"></script>
    <script>
      addCorner('Interaction Design');
      addCorner('User Research');
      addCorner('Information Architecture');
      addCorner('Ideation');
      addCorner('Visual Design');
      addCorner('Copy Writing');
      addCorner('Usability Testing');
      addCorner('User Stories');
    </script>
    </body>
</html>

