<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Forte Graph</title>
    <meta name="description" content="A strengths graph by Laura Klein and Eric Prestemon">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/graph.css" type="text/css" />
  </head>
  <body>
    
<div class="container">
   	<div class="left_col">
        <canvas id="graph_canvas" width="600" height="600">
      </canvas>
        
        <div class="label" id="corner_5">
            Interaction Design 
        </div>
        <div class="label" id="corner_3">
            User Research
        </div>
        <div class="label" id="corner_9">
            User Stories
        </div>
        <div class="label" id="corner_1">
            Information Architecture
        </div>
        <div class="label" id="corner_7">
            Usability Testing
        </div>
        <div class="label" id="corner_15">
            Ideation
        </div>
        <div class="label" id="corner_11">
            Copy Writing
        </div>
        <div class="label" id="corner_13">
            Visual Design
        </div>
    </div>
    <div class="right_col">
    	<h3>What's Your Fort&eacute;?</h3>
    	<div class="slider_container">
        	<div class="slider_label"><span id="label_5" class="label">Interaction Design </span><span class="save"><input type="button" class="button" value="save" /></span>
            <span class="icon_font">a</span>
            </div>
            <div  class="slider" id="slider_5"></div>
        </div>
        
        <div class="slider_container">
        	<div class="slider_label"><span id="label_3" class="label">User Research </span><span class="save"><input type="button" class="button" value="save" /></span><span class="icon_font">a</span></div>
            <div  class="slider" id="slider_3"></div>
        </div>
        
        
        <div class="slider_container">
        	<div class="slider_label"><span id="label_1" class="label">Information Architecture </span><span class="save"><input type="button" class="button" value="save" /></span> <span class="icon_font">a</span></div>
            <div  class="slider" id="slider_1"></div>
        </div>
        
        <div class="slider_container">
        	<div class="slider_label"><span id="label_15" class="label">Ideation </span><span class="save"><input type="button" class="button" value="save" /></span><span class="icon_font">a</span></div>
            <div  class="slider" id="slider_15"></div>
        </div>
        
        <div class="slider_container">
        	<div class="slider_label"><span id="label_13" class="label">Visual Design </span> <span class="save"><input type="button" class="button" value="save" /></span><span class="icon_font">a</span></div>
            <div  class="slider" id="slider_13"></div>
        </div>
        
        <div class="slider_container">
        	<div class="slider_label"><span id="label_11" class="label">Copy Writing </span><span class="save"><input type="button" class="button" value="save" /></span><span class="icon_font">a</span></div>
            <div   class="slider" id="slider_11"></div>
        </div>
        
        <div class="slider_container">
        	<div class="slider_label"><span id="label_9" class="label">Usability Testing </span><span class="save"><input type="button" class="button" value="save" /></span><span class="icon_font">a</span></div>
            <div  class="slider" id="slider_9"></div>
        </div>
        <div class="slider_container">
        	<div class="slider_label"><span id="label_7" class="label">User Stories </span><span class="save"><input type="button" class="button" value="save" /></span> <span class="icon_font">a</span></div>
            <div   class="slider" id="slider_7"></div>
        </div>
    </div>
</div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
          
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          
            crossorigin="anonymous"></script>
    <script src="/jcanvas.min.js"></script>

    <script src="/graph.js"></script>

  </body>
</html>

